<ion-header>
    <ion-navbar color="primary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Editar Trabajo</ion-title>
    </ion-navbar>
  </ion-header>


<ion-content padding>
    <ion-item>
        <ion-label>Unidad</ion-label>
        <ion-input text-right type="ion-select" [(ngModel)]="contact.unidad" disabled="true" name="unidad" ngModel required>
          
        </ion-input>
      </ion-item>
      <ion-item>
          <ion-label>Proyecto</ion-label>
          <ion-select *ngIf="contact.unidad== 'Unidad 1'" [(ngModel)]="contact.proyecto" multiple="false" name="proyecto">
            <ion-option>Proyecto 1 unidad 1</ion-option>
            <ion-option>Proyecto 2 unidad 1</ion-option>
            <ion-option>Proyecto 3 unidad 1</ion-option>
          </ion-select>
      
          <ion-select *ngIf="contact.unidad== 'Unidad 2'" [(ngModel)]="contact.proyecto" multiple="false" name="proyecto">
              <ion-option>Proyecto 1 unidad 2</ion-option>
              <ion-option>Proyecto 2 unidad 2</ion-option>
              <ion-option>Proyecto 3 unidad 2</ion-option>
            </ion-select>
          
          <ion-select *ngIf="contact.unidad== 'Unidad 3'" [(ngModel)]="contact.proyecto" multiple="false" name="proyecto">
              <ion-option>Proyecto 1 unidad 3</ion-option>
              <ion-option>Proyecto 2 unidad 3</ion-option>
              <ion-option>Proyecto 3 unidad 3</ion-option>
            </ion-select>
          
        </ion-item>
        
            <ion-item>
                <ion-label>Horas</ion-label>
                <ion-input text-right type="number" [(ngModel)]="contact.horas" min="0" max="8"name="horas" ngModel></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>Minutos</ion-label>
              <ion-input text-right type="number" [(ngModel)]="contact.minutos" min="0" max="59" name="minutos" ngModel></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Fecha</ion-label>
                <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="contact.fecha" name="fecha" ngModel></ion-datetime>
              </ion-item>

         <button ion-button block (click)="onUpdateContact(contact)" color="secondary">Modificar Registro</button>

         <button ion-button block (click)="onRemoveContact(contact)"color="danger">Eliminar Registro</button>
 

</ion-content>
